html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.head {
    height: 65px;
    width: 100%;
    background-color: rgb(50, 219, 138);
    position: fixed;
    z-index: 1;
}

.menu {
    height: 100%;
    width: 60%;
    background-color: orange;
    margin: auto;
}

.G9 {
    height: 100%;
    width: 100%;
    /*    background-color: pink;*/
    background-image: url(../images/background_img_01b.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.container {
    height: 60%;
    width: 60%;
    /*    background-color: orange;*/
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.heading {
    height: 100px;
    width: 60%;
    /*    background-color: green;*/
    margin: 50px auto;
}

.text {
    height: 60%;
    width: 100%;
    /*    background-color: red;*/
}

.services {
    /*    height: 1050px;*/
    width: 100%;
    background-color: #221c5a;
}


/*clearfix*/

.services::after {
    content: " ";
    display: block;
    clear: both;
}

.service-left {
    height: 400px;
    width: 25%;
    background-color: rgb(50, 219, 138);
    margin-left: 100px;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.service-right {
    height: 500px;
    width: 60%;
    background-color: white;
    float: left;
    margin-top: 400px;
}

.portfolio {
    width: 100%;
    background-color: orange;
    background-image: url(../images/background_img_02.jpg);
    background-size: cover;
    background-position: center center;
}

.portfolio::after {
    content: " ";
    display: block;
    clear: both;
}

.portfolio-right {
    height: 400px;
    width: 25%;
    background-color: rgb(255, 186, 66);
    margin-right: 100px;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.portfolio-left {
    overflow: auto;
    width: 60%;
    /*        background-color: whitesmoke;*/
    float: right;
    margin-top: 400px;
}

.Port-contain {
    overflow: auto;
    width: 100%;
    margin: -4px 0px;
}

.Load-more {
    height: 100px;
    width: 58.5%;
    background-color: #e64b77;
    float: right;
}

.crafters {
    /*    overflow: auto;*/
    width: 100%;
    background-image: url(../images/background_img_03.jpg);
    background-size: cover;
    background-position: center center;
}

.crafters::after {
    content: " ";
    display: block;
    clear: both;
}

.crafters-left {
    height: 400px;
    width: 25%;
    background-color: #e64b77;
    float: left;
    margin-left: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.crafters-right {
    overflow: auto;
    width: 60%;
    background-color: white;
    float: left;
    margin-top: 400px;
}

.crafters-contain {
    /*    height: ?;*/
    overflow: auto;
    width: 100%;
    /*    background-color: aqua;*/
    /*    border: 1px red solid;*/
}

.Project {
    /*    overflow: auto;*/
    width: 100%;
    background-image: url(../images/background_img_04.jpg);
    background-position: center center;
    background-size: cover;
}

.Project::after {
    content: " ";
    display: block;
    clear: both;
}

.Project-right {
    height: 400px;
    width: 25%;
    background-color: #32DB8A;
    float: right;
    margin-right: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.Project-left {
    overflow: auto;
    width: 60%;
    background-color: chartreuse;
    float: right;
    margin-top: 400px;
}

.Project-contain {
    height: 600px;
    width: 100%;
}

.Review {
    height: 100%;
    width: 100%;
    background-color: #221c5a;
}

.Contact {
    width: 100%;
    background-image: url(../images/background_img_05b.jpg);
    background-position: center center;
    background-size: cover;
}

.Contact::after {
    content: "";
    display: block;
    clear: both;
}

.Contact-left {
    width: 25%;
    height: 400px;
    background-color: rgb(230, 75, 119);
    float: left;
    margin-left: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.Contact-right {
    overflow: auto;
    width: 60%;
    background-color: chartreuse;
    float: left;
    margin-top: 400px;
}

.Contact-contain {
    height: 400px;
    width: 100%
}

.footer {
    height: 274px;
    width: 100%;
    background-color: #221c5a;
}

.big-title {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    vertical-align: baseline;
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
    color: #fff;
}

.title-desc {
    font-size: 25px;
    font-family: 'PT Serif', serif;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.nun {
    height: 180px;
    width: 100%;
    margin-top: 20px;
}

.number {
    font-family: 'Roboto', sans-serif;
    font-size: 180px;
    height: 100%;
    width: 100%;
    font-weight: 700;
    letter-spacing: -5px;
    margin-left: -64px;
    background-color: transparent;
    color: #55B286;
}

.entry-title {
    overflow: auto;
    margin-top: -30px;
    /*    width: 50%;*/
    /*    background-color: orange;*/
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 79px;
    font-weight: 700;
    width: 245px;
    word-break: break-all;
    color: white;
    letter-spacing: -3px;
    line-height: 90px;
}

.main-service {
    height: 90%;
    width: 90%;
    margin: 2.5% auto;
}

.ser-contain {
    height: 50%;
    width: 50%;
    float: left;
}

.img {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    float: left;
}

.contain-holder {
    height: 100%;
    width: 80%;
    float: left;
}

.title-holder {
    height: 30px;
    width: 100%;
    margin-top: 40px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: #23214c;
}

.text-contain {
    width: 100%;
    overflow: auto;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #23214c;
    line-height: 26px;
    vertical-align: baseline;
    line-height: 26px;
}

.more-port {
    vertical-align: middle;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.Craft-title {
    height: 200px;
    width: 100%;
}

.Craft-title-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 180px;
    text-align: center;
    margin-top: -90px;
    color: #221c5a;
}

.Craft-contain {
    height: 300px;
    width: 50%;
    float: left;
}

.Contain-sub {
    height: 80%;
    width: 80%;
    margin: auto;
}

.logo {
    height: 50px;
    width: 50px;
    float: left;
}

.title-holder2 {
    height: 50px;
    width: 80%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: 400;
    color: #221c5a;
}

.text-holder {
    height: 80%;
    width: 100%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #221c5a;
}

.lead-des {
    height: 400px;
    width: 50%;
    float: left;
}

.lead-title {
    height: 50px;
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 5px;
    font-weight: 400;
}

.lead-disc {
    height: 250px;
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 29px;
    font-weight: 400;
    font-size: 16px;
}