html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.head {
    height: 80px;
    width: 100%;
    background-color: rgb(50, 219, 138);
    position: fixed;
    z-index: 1;
}

.menu {
    height: 100%;
    width: 60%;
    /*    background-color: orange;*/
    margin: auto;
}

.G9 {
    height: 100%;
    width: 100%;
    /*    background-color: pink;*/
    background-image: url(../images/background_img_01b.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.container {
    height: 60%;
    width: 60%;
    background-color: orange;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.heading {
    height: 80px;
    width: 60%;
    background-color: green;
    margin: 50px auto;
}

.text {
    height: 50%;
    width: 100%;
    background-color: red;
}

.services {
    /*    height: 1050px;*/
    width: 100%;
    background-color: #221c5a;
}


/*clearfix*/

.services::after {
    content: " ";
    display: block;
    clear: both;
}

.service-left {
    height: 400px;
    width: 25%;
    background-color: cornflowerblue;
    margin-left: 100px;
    margin-top: 150px;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.service-right {
    height: 500px;
    width: 60%;
    background-color: cornflowerblue;
    float: left;
    margin-top: 550px;
}

.portfolio {
    width: 100%;
    background-color: orange;
    background-image: url(../images/background_img_02.jpg);
    background-size: cover;
    background-position: center center;
}

.portfolio::after {
    content: " ";
    display: block;
    clear: both;
}

.portfolio-right {
    height: 400px;
    width: 25%;
    background-color: brown;
    margin-right: 100px;
    margin-top: 150px;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.portfolio-left {
    overflow: auto;
    width: 60%;
    /*    background-color: deeppink;*/
    float: right;
    margin-top: 550px;
}

.Port-contain {
    height: 600px;
    width: 100%;
    background-color: aqua;
    /*    border: 1px red solid;*/
}

.Load-more {
    height: 100px;
    width: 50%;
    background-color: darkred;
    float: right;
}

.crafters {
    /*    overflow: auto;*/
    width: 100%;
    background-image: url(../images/background_img_03.jpg);
    background-size: cover;
    background-position: center center;
}

.crafters::after {
    content: " ";
    display: block;
    clear: both;
}

.crafters-left {
    height: 400px;
    width: 25%;
    background-color: aqua;
    float: left;
    margin-left: 100px;
    margin-top: 150px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.crafters-right {
    overflow: auto;
    width: 60%;
    background-color: deeppink;
    float: left;
    margin-top: 550px;
}

.crafters-contain {
    height: 600px;
    width: 100%;
    /*    background-color: aqua;*/
    /*    border: 1px red solid;*/
}

.Project {
    /*    overflow: auto;*/
    width: 100%;
    background-image: url(../images/background_img_04.jpg);
    background-position: center center;
    background-size: cover;
}

.Project::after {
    content: " ";
    display: block;
    clear: both;
}

.Project-right {
    height: 400px;
    width: 25%;
    background-color: aqua;
    float: right;
    margin-right: 100px;
    margin-top: 150px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.Project-left {
    overflow: auto;
    width: 60%;
    background-color: chartreuse;
    float: right;
    margin-top: 550px;
}

.Project-contain {
    height: 600px;
    width: 100%;

}

.Review {
    height: 100%;
    width: 100%;
    background-color: #221c5a;
}

.Contact {
    width: 100%;
    background-image: url(../images/background_img_05b.jpg);
    background-position: center center;
    background-size: cover;
}

.Contact::after {
    content: "";
    display: block;
    clear: both;
}

.Contact-left {
    width: 25%;
    height: 400px;
    background-color: cornflowerblue;
    float: left;
    margin-top: 150px;
    margin-left: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.Contact-right {
    overflow: auto;
    width: 60%;
    background-color: chartreuse;
    float: left;
    margin-top: 550px;
}

.Contact-contain {
    height: 400px;
    width: 100%
}

.footer {
    height: 274px;
    width: 100%;

}
